bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
TaskProTests/Properties/launchSettings.json
TaskProTests/appsettings.json
TaskProTests/appsettings.Development.json
TaskProInfra/Properties/launchSettings.json
TaskProInfra/appsettings.json
TaskProInfra/appsettings.Development.json
TaskProCore/Properties/launchSettings.json
TaskProCore/appsettings.json
TaskProCore/appsettings.Development.json
TaskProAPI/Properties/launchSettings.json
TaskProAPI/appsettings.json
TaskProAPI/appsettings.Development.json
.idea/.idea.TaskProAPI/.idea/vcs.xml
.idea/.idea.TaskProAPI/.idea/indexLayout.xml
.idea/.idea.TaskProAPI/.idea/encodings.xml
.idea/.idea.TaskProAPI/.idea/dictionaries/Caio.xml
TaskProAPI/Properties/launchSettings.json
TaskProAPI/appsettings.json
TaskProAPI/appsettings.Development.json
TaskProCore/Program.cs
TaskProAPI.sln.DotSettings.user
TaskProAPI.sln
.idea/.idea.TaskProAPI/.idea/workspace.xml
.idea/.idea.TaskProAPI/.idea/projectSettingsUpdater.xml
